@import url('standardize.css');

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    background: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    background:rgba(0,0,0,0.85);
    position: absolute;
    top: 10;
    left: 0;
    z-index: 200;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 2em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

video {
    background: black;
    bottom: 0;
    position: absolute;
    height: auto;
    width: 100%;
}

audio {
    display: none;
}

.panel {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 92%;

    -webkit-transition: left 5000ms;
    -moz-transition: left 5000ms;
    -o-transition: left 5000ms;
    transition: left 5000ms;
}

.master-panel {
    border-right: 1px solid red;
    left: 0%; 
}

.right-panel {
    left: 92%;
    z-index: 100;
}

.right-panel:hover { left: 8%; }

.right-panel:hover + .master-panel { left: -84%; }

@media screen and (max-aspect-ratio: 18/9) {
    video {
        height: 100%;
        width: auto;
    }
}